.rdrMonthAndYearWrapper {
  padding-top: 0;
  height: 40px;
}

.rdrPprevButton {
  margin-left: 15px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 100%;
}

.rdrNextButton {
  margin-right: 18px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 100%;
}
