.EmojiPickerReact {
  --epr-emoji-size: 20px;
  --epr-bg-color: #ffffff;
  --epr-category-navigation-button-size: 25px;
  font-family: sans-serif;
  --epr-category-label-height: 35px;
  // --epr-category-padding: 0 10px;
}

.epr-category-nav {
  padding: 0px 10px 10px 10px !important;
}
